.bg-danger {
  background-color: $red;
}

.bg-warning {
  background-color: $themeOrange;
}

.bg-success {
  background-color: $green;
}

.bg-white {
  background-color: white;
}

.bg-yellow {
  background-color: $primaryColor;
}
