.bottom-menu {
  .bottom-menu-mobile {
    background-color: $darkNavy;
    color: $white ;
    position:fixed;
   	bottom:0;
	  left:0;
    right:0;
    -webkit-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0px -4px 3px rgba(0, 0, 0, 0.15);
    //z-index: 10;
    z-index: 2;
  }
 .icon-color {
  color: $white ;
  }
  .nuxt-link-exact-active {
    .icon-color, svg {
      color: $blueCyan !important;
    }
  }
}
