.footer {
  &__top {
    background-color: #292929;

    &-quick-access {
      padding-right: 0;

      & li {
        transition: all .3s;
        display: flex;
        margin-bottom: 15px;
        color: #fff;

        & a {
          color: #fff;

          &:hover {
            color: $primaryColor;
          }
        }

        &:hover {
          color: $primaryColor;
        }
      }
    }

    & input {
      padding: 10px 15px;
      border: 3px solid #d3d3d3;
      outline: none;
      border-radius: 30px;
    }

    &-email-btn {
      background-color: $primaryColor;
      color: #fff;
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      padding: 8px;
      border-radius: 50%;
    }

    &-icon {
      color: $primaryColor;
      margin-left: 10px;

      &:before {
        font-size: 30px;
      }
    }

    &-app {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      & img {
        filter: brightness(0) invert(1);
        width: 120px;
        object-fit: cover;
      }
    }
  }

  &__bottom {
    background-color: #363636;
    padding: 15px 0;

    & i {
      cursor: pointer;
      color: #c5c5c5;
      vertical-align: middle;
      transition: .2s ease;

      &:hover {
        color: $primaryColor;
      }

      &:before {
        font-size: 30px;
      }
    }

    & span {
      color: #c5c5c5;
    }

    .col-md-8 {
      text-align: left;
    }
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    & i {
      &:before {
        font-size: 24px;
      }
    }

    &__bottom {
      .col-md-8 {
        text-align: center;
        margin-top: 30px;
      }
    }
  }
}

