.primary-menu {
  width: 100%;
  position: fixed;
  top: 53px;
  background-color: #ffffff;
  margin-bottom: 20px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
  .menu-list{
    top: 95px;
    right: 10%
  }
  .top-menu-list{
    background-color: unset;
    color: #7a7777;;
  }

 .text-item {
  color: $themeDetailColor;
  font-size: 13px;
 }

 .item-primary-menu {
   padding: 9px;
   cursor: pointer;
   border-bottom: 2px solid transparent;
   &:hover {
    border-bottom: 4px solid $themeGreen;
  }

   &-border {
     border-bottom: 4px solid $themeGreen;
   }
 }

  &-icon {
    padding-top: 2px;
  }

  .your-level {
    border-right: 1px solid $themeColor;
    margin-right: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: $themeColor;
  }

  .box-item {
    float: left;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    padding: 3px 10px;

    svg {
      color: #fff;
      padding-left: 5px;
    }
  }

  .verify-document {
    background-color: $themeOrange;
    border: 1px solid $themeOrange;
  }
}
