.sidebar {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 40px hsla(0, 0%, 64.7%, .2);
  box-shadow: 0 10px 40px hsla(0, 0%, 64.7%, .2);
  padding: 25px 20px;

  &__head {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $lightGray;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .sidebar {
    padding: 20px 15px;
  }
}

@media only screen and (max-width: 768px) {
  .sidebar {
    margin-bottom: 30px;
  }
}
