.advertise {
  box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
  border-radius: 15px;
  height: 300px;
  transition: all .4s ease;
  &:hover {
    box-shadow: 0 10px 40px hsla(0,0%,64.7%,.2);
    .advertise__img-wrapper {
      height: 135px;
    }
  }
  &__img-wrapper {
    height: 115px;
    border-radius: 15px;
    transition: height .5s ease;
    background-color: rgba(0,0,0,.3);
    & img {
      border-radius: 15px 15px 0 0;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
}
