.advertise {
  box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
  border-radius: 15px;
  height: 285px;
  transition: all .4s ease;
  &:hover {
    box-shadow: 0 10px 40px hsla(0,0%,64.7%,.2);
    .advertise__img-wrapper {
      height: 45%;
    }
    .advertise__content {
      height: 55%;
      &-detail-price {
        margin-bottom: 10px;
      }
    }
  }
  &__img-wrapper {
    position: relative;
    height: 35%;
    border-radius: 15px 15px 0 0;
    transition: height .5s ease;
    background-color: rgba(0,0,0,.3);
    & img {
      border-radius: 15px 15px 0 0;
      height: 100%;
      width: 100%;
    }
  }
  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65%;
    transition: height .5s ease;
    &-detail {
      &-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        transition: all .5s ease;
      }
      &-created {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
