.advertise {
  &__horizontal {
    box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
    border-radius: 15px;
    height: 100%;
    transition: all .4s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    &:hover {
      box-shadow: 0 10px 40px hsla(0,0%,64.7%,.2);
    }
    &-img {
      &-wrapper {
        position: relative;
        width: 222px;
        height: 150px;
        border-radius: 0 15px 15px 0;
        transition: height .5s ease;
        background-color: rgba(0, 0, 0, 0.3);
        object-fit: cover;
        & img {
          border-radius: 0 15px 15px 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          text-align: center;
          color: #fff;
        }
      }
    }
    &-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: height .5s ease;
      background-color: #fff;
      border-radius: 15px 0 0 15px;
      width: 100%;
      &-detail {
        &-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          transition: all .5s ease;
        }
        &-created {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  &__vertical {
    box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
    border-radius: 15px;
    height: 290px;
    transition: all .4s ease;
    cursor: pointer;
    position: relative;
    &:hover {
      box-shadow: 0 10px 40px hsla(0,0%,64.7%,.2);
      .advertise__vertical-img-wrapper {
        height: 45%;
      }
      .advertise__vertical-content {
        height: 55%;
        &-detail-price {
          margin-bottom: 10px;
        }
      }
    }
    &-img {
      &-wrapper {
        position: relative;
        height: 35%;
        border-radius: 15px 15px 0 0;
        transition: height .5s ease;
        background-color: rgba(0,0,0,.3);
        object-fit: cover;
        & img {
          border-radius: 15px 15px 0 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          color: #fff;
        }
      }
    }
    &-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 65%;
      transition: height .5s ease;
      background-color: #fff;
      border-radius: 0 0 15px 15px;
      &-detail {
        &-price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          transition: all .5s ease;
        }
        &-created {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
  &__single {
    &-sidebar {
      &-specifications {
        margin-top: 25px;
        & div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        & span:nth-child(even) {
          color: $dimLightGray;
        }
      }
    }
    &-detail {
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
      border-radius: 20px;
      &-head {
        display: flex;
        flex-direction: column;
        & h3 {
          margin-bottom: 15px;
        }
        border-bottom: 1px solid $lightGray;
      }
      &-slide {
        padding-top: 20px;
        min-height: 450px;
        position: relative;
        cursor: pointer;
        & img {
          width: 100%;
          height: 450px;
          object-fit: cover;
          background-color: $dimLightGray;
          border-radius: 15px;
        }
        .swiper {
          &-button-prev:after, &-button-next:after {
            font-size: 30px !important;
            color: $lightGray;
          }
          &-container {
            border-radius: 15px;
          }
          &-pagination {
            bottom: 15px;
            left: 50%;
            transform: translateX(-50%);
            &-bullet {
              width: 12px;
              height: 12px;
              background: $lightGray;
              margin: 0 6px;
            }
          }
        }
      }
    }
    &-description {
      margin-top: 20px;
      box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      & h3 {
        margin-bottom: 15px;
      }
    }
  }
}
