.bg-danger {
  background-color: $red;
}

.bg-warning {
  background-color: $warning;
}

.bg-success {
  background-color: $green;
}

.bg-white {
  background-color: white;
}

.bg-yellow {
  background-color: $primaryColor;
}

.bg-orange {
  background-color: $orange;
}

.bg-lightGray {
  background-color: $lightGray;
}
