.form {
  &-group {
    margin-bottom: 15px;
    & label {
      display: block;
      margin-bottom: 8px;
    }
    & input {
      padding: 13px 10px;
      border-radius: 10px;
      border: none;
      box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
      color: $dimLightGray;
      font-size: 14px;
    }
    & textarea {
      color: $dimLightGray;
      font-size: 14px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 0 10px hsla(0,0%,64.7%,.2);
    }
  }
  &-group2 {
    margin-bottom: 15px;
    & label {
      display: block;
      margin-bottom: 8px;
    }
    & input {
      color: $dimLightGray;
    }
    .vs {
      &__dropdown-toggle {
        border-radius: 10px !important;
      }
      &__dropdown-menu {
        border-radius: 10px;
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input, select,textarea {
  background-color: #ffffff;
  width: 100%;
  border-radius: 4px;
  border: solid 1px #d0dbe7;
  line-height: normal;
  padding: 8px 5px;
  box-sizing: border-box;
  font-family: IRANSans;
  font-size: 16px;
  text-indent: 5px;
  &-warning {
    border: solid 1px $tomato !important;
    animation: fadein 1s both;
  }

  ::placeholder {
    color: $whiteSmoke;
  }
}

