/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */
$enabled_content: 'فعال';
$disabled_content: '';

.switch-disabled {
  background-color: $cleanGray;
  &:after {
    background-color: $lightGray !important;
  }
  &:before {
    background-color: $lightGray !important;
  }
}

#app-cover
{
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.toggle-button-cover
{
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover
{
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before
{
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover, .knobs, .layer
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button
{
  position: relative;
  width: 64px;
  height: 36px;
  overflow: hidden;
}

.button.r, .button.r .layer
{
  border-radius: 100px;
}

.button.b2
{
  border-radius: 2px;
}

.switch-checkbox
{
  position: relative;
  width: 100%!important;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.knobs
{
  z-index: 2;
}
.layer
{
  width: 100%;
  background-color: #fcebeb;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
  content: $disabled_content;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: $red;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .switch-checkbox:checked + .knobs:before
{
  content: $enabled_content;
  left: 32px;
  background-color: $green;
}

#button-1 .switch-checkbox:checked ~ .layer
{
  background-color: #e8ffe8;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
  transition: 0.3s ease all;
}


#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  background-color: #143240;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(20, 50, 64, 0.76);
}
