$primaryColor: #f2c200;
$accentColor: #d8d8d8;
$themeDetailColor: #7a7777;
$transparent: rgba(100, 100, 100, 0.5);
$themeGreen: #2bc9b4;
$violet: #3455ff;
$themeOrange: #f5a623;
$themeBunting: #282f42;
$themeColor: #3f4156;
$lightBlue: #2bc9b417;
$lightShadow: #2bc9b4a6;
$lightSmoke: #ededed;
$green:#63d386;
$red:#ef6e72;
$snow:#f9f9f9;
$lightSilver: #d7d7d7;
$softBlue: #3d567e;
$eastBay: #455e84;

// color button, badge, form
$blueSilver: #f7fafd;
$lighLinen:#e0e8f3;
$lightPink:#ffe8e8;
$slateGray:#6e81a9;
$paleGreen:#53ffc0;
$linen:#b1bceb;
$lavender: #dadff6;
$mediumAquamarine:#9194ff;
$dimgrayWhite: #b2bac6;
$aliceBlue:#a4c5f0;
$whiteSmoke: #cdd3d9;
$silverWhite: #eaecef;
$gainsBoro: #c9cfd6;
$darkGray:#495463;
$blue:#2c80ff;
$silver:#d2dde9;
$white:#fff;
$midnightBlue:#101941;
$darkOrange:#cc9a00;
$grassy:#00b975;
$navy:#253992;
$navyBlue:#3e406e;
//new theme
$greenBlue:#26d6ef;
$darkNavy: #2c2e53;
$blueCyan: #2dc1c9;
$blueNavy: #214BDB;
$lightSkyBlue: #f6f6ff;
//new theme
$springGreen:#00d285;
$gold:#ffc100;
$tomato:#ff6868;
$lightCyan:#e6effb;
$paleTurquoise:#d0e1f7;
$lightSteelBlue:#e1e4e9;
$skyBlue:#c5dcff;
$cornflowerBlue:#9daae6;
$honeydew:#e1fff4;
$lemonChiffon:#fff8e0;
$peachPuff:#ffd8d8;
$lightSalmon:#ffb5b5;
$cyan:#dfebff;
$lightskyBlue:#accdff;
$nearToBlack: #424242;
$chartreuse:#c8ffeb;
$powderBlue:#d9e7f9;
$dimlighGray:#68798b;
$slateGray:#c4d4e9;
$lightBlack:#333b46;
$royalBlue:#0257b3;
$midnightlightBlue:#1d2e77;
$mediumseaGreen:#49a065;
$elm: #298478;
$twilight: #d2bcc8;
$grayishPink: #855e76;
$lightGray: #e2e2e2;
$skyLightBlue: #f5f9f8;
$vermillion:#0b2c6e;
$sunshine: #288aee;
$clean: #E8E8E8;
$cleanGray: hsl(0, 0%, 93%);
$seaBlue: #1485df;
$purple: #6063da;
$sharpblue: #000fbc;
$greenCyan: #44C19E;
$orangeYellow: #F0B90B;
$lightOrangeYellow: #F8D12F;
$darkBlack: #373a40;
$strongDarkBlack: #686d76;
$snowGray: #f9f9f9;
$strongGreenCyan: #29c29d;
$dimGray: #5a5a5a;
$dimLightGray: #707070;
$springGreen: #4ed89b;
$redOrange: #ff5722;
$bondiBlue: #00b78c;
